*{
    padding:0;
    margin:0;
}
.subinfowrap{
    width:750px;
    height:1206px;
    border:1px solid white;
    background:url(../img/subinfobg.jpg) no-repeat;
}
.thankWrap{
    width:750px;
    height:1206px;
    border:1px solid white;
    background:url(../img/thank.jpg) no-repeat;
}
.subinfowrap form {
    width:605px;
    height:auto;
    position:absolute;
    top:817px;
    left:72px;
   
}
.subinfowrap form input[type=text]{
    width:568px;
    height:79px;
    border:none;
    outline:none;
    text-indent:15px;
    font-size:30px;
    color:black;
    margin:10px 0 0 30px;
    background:url(../img/inputbg.png) no-repeat;
    
}
.subinfowrap form .submit{width:575px;height:104px;background:url(../img/submitbtn.png) no-repeat;margin:32px auto 0 19px;border:none;outline:none;}
