*{padding:0;margin:0;}
a{text-decoration: none;color: black;}
a:hover{text-decoration: none;color: black;}
.indexwrap{width: 750px;background: url("../image/indexbg.jpg") no-repeat;background-size: 100%;height:2856px;border: 1px solid;}
.indexwrap .start{display:block;background:url("../image/startbtn.gif") no-repeat;width: 407px;height: 112px;margin:2237px auto 0 auto; }
/*切换*/
.qhwrap .shuoming{display: block;width: 320px;height: 30px;text-align: center;position: absolute;top:535px;left:30%;font-size: 32px;}
.qhwrap{width: 750px;height: 1206px;background:url("../image/qhaiqing.jpg") no-repeat;border: 1px solid;}
.qhwrap form{width: 750px;height:auto;margin-top: 60px}
.qhwrap form input[type=button]{outline:none;border:none;display:block;width: 603px;height: 103px;background: url("../image/bigsubbtn.png") no-repeat;margin:560px auto 0 auto;}
.qhwrap .text{background: url("../image/qhborderaiqing.png") no-repeat;width:393px;height:196px;padding: 65px 0 0 225px;font-size: 32px;border: none;outline: none;}
.left{position: absolute;top:517px;left: 0px;width: 66px;height: 66px;background: url("../image/btnleft.png") no-repeat;}
.right{position: absolute;top:517px;left: 680px;width: 66px;height: 66px;background: url("../image/rightbtn.png") no-repeat;}
/*搞怪*/
.gaoxiaowrap{width: 750px;height: 1206px;background: url("../image/qhgaoxiao.jpg") no-repeat;border: 1px solid;}
.gaoxiaowrap form{width: 750px;height: auto;margin-top: 50px}
.gaoxiaowrap form input[type=button]{border:none;display:block;width: 603px;height: 103px;background: url("../image/bigsubbtn.png") no-repeat;margin: 300px auto 0 auto;}
.gaoxiaowrap .shuoming{display: block;width: 320px;height: 30px;text-align: center;position: absolute;top:600px;left:30%;font-size: 32px;color: white;}
.gaoxiaowrap .text{outline: none;background: url("../image/qhbordergaoxiao.png") no-repeat;width:443px;height:167px;padding: 65px 0 0 225px;font-size: 32px;border: none;}
.gaoguaishow{position:absolute;width: 750px;height:606px;z-index:0;top:372px;overflow:hidden}
.gaoxiaoshowwrap form{width: 750px;height: auto;margin-top: 50px;}
.gaoxiaowrap form input[type=button]{border:none;display:block;width: 603px;height: 103px;background: url("../image/bigsubbtn.png") no-repeat;margin:608px auto 0 auto;}
.gaoxiaoshowwrap{width: 750px;height: 1206px;background: url("../image/gaoguainextbg.png") no-repeat;position: absolute;left: 0;top:0;z-index: 2;}
.gaoxiaoshowwrap .text{outline: none;background: url("../image/qhbordergaoxiao.png") no-repeat;width:443px;height:155px;padding: 65px 0 0 225px;font-size: 32px;border: none;}
.gongxibtn{z-index:2;position: absolute;width: 275px;height: 292px;left:32%;top:888px;background: url("../image/gongxibtn.png") no-repeat;border: none}
.gaoxiaowrap .phto{width: 500px;height: 480px;position: absolute;z-index: 1;left: 19%;top:210px;}
/*礼品*/
.giftwrap{width: 750px;height: 1206px;background:url("../image/giftbg.jpg") no-repeat;border: 1px solid;}
.giftwrap .likes{width:96%;height:278px;margin: 210px auto 0 auto;}
.giftwrap .likes .gift{width: 30%;height:278px;display: inline-block;margin: 0 5px 0 10px;background: greenyellow;}
.giftwrap .likes .gift .txt{width: 70%;margin: 20px auto 0 auto;}
.giftwrap .likes .gift .txt input[type=checkbox]{display: none;}
.giftwrap .likes .gift .txt input[type=checkbox]+label{color:white;font-size:25px;display: block;width:100%;height: 30px;background: pink;border: 1px solid white;border-radius: 30px;text-align: center;line-height: 30px;}
.giftwrap .likes .gift .txt input[type=checkbox]:checked+label{color:white;font-size:25px;display: block;width:100%;height: 30px;background:red;border: 1px solid white;border-radius: 30px;text-align: center;line-height: 30px;}
.giftwrap .userinfo{width: 90%;height:auto;margin: 90px auto 0 auto;}
.giftwrap .userinfo input[type=text]{border: 5px solid red;height: 70px;font-size: 25px;color:grey;width:85%;display:block;margin:10px auto 0 auto;border-radius: 30px;text-indent: 15px;}
.giftwrap .userinfo input[type=submit]{display: block;width:257px;height: 71px;background:url("../image/submit.png") no-repeat; border:none;margin: 50px auto 0 auto;}
.giftwrap .fenxiang{width:248px;height: 73px;margin: 110px 50px 0 100px;float: left;background: url("../image/fengxiang.png") no-repeat}
.giftwrap .chakan{width:248px;height: 73px;margin-top:110px;float: left;background: url("../image/chakan.png") no-repeat}
/*爱情上传后的页面*/
.aiqingnext{position:absolute;top:0;left:0;z-index:2;border:1px solid;width: 750px;height: 1206px;background: url("../image/aqnextbg.png") no-repeat;}
.aqshow{top:310px;position:absolute;width: 750px;height:545px;background: url("../image/aishow.png") no-repeat;z-index:0;text-align: center; overflow:hidden}
.aiqingnext form{width: 750px;height: auto;margin-top: 50px;}

.aiqingnext .text{outline: none;background: url("../image/aqkuang.png") no-repeat;width:443px;height:200px;padding: 65px 0 0 225px;font-size: 32px;border: none;}
.gongxibtn{z-index:2;position: absolute;width: 275px;height: 292px;left:32%;top:888px;background: url("../image/gongxibtn.png") no-repeat;border: none}
.aiqingnext .phto{z-index:1;position:absolute;top:200px;left:0;text-align:center;width:100%;height:551px;background:url("../image/aiqingshowbg.png") no-repeat;}
/*婚礼切换*/
.hlwrap{width: 750px;height: 1206px;background: url("../image/qhhunli.jpg") no-repeat;border: 1px solid;}
.hlwrap form{width: 750px;height: auto;margin-top: 50px}
.hlwrap .shuoming{display: block;width: 320px;height: 30px;text-align: center;position: absolute;top:480px;left:30%;font-size: 32px;}
.hlwrap .text{outline: none;background: url("../image/qhborderhunli.png") no-repeat;width:443px;height:167px;padding: 65px 0 0 225px;font-size: 32px;border: none;}
.hlnextwrap{position:absolute;top:0;left:0;z-index:2;border:1px solid;width: 750px;height: 1206px;background: url("../image/subhunlibg.png") no-repeat;}
.hlnextwrap .text{overflow:hidden;outline: none;background: url("../image/qhborderhunli.png") no-repeat;width:443px;height:167px;padding: 65px 0 0 225px;font-size: 32px;border: none;}
.hlnextshowleft{position: absolute;top:281px;left: 41px;z-index: 1;width: 337px;height: 414px;background: #eee;}
.hlnextshowright{position: absolute;top:281px;left:377px;z-index: 1;width: 337px;height: 414px;background: #eee;}
/*巧克力切换*/
.qklwrap{width: 750px;height: 1206px;background: url("../image/qhqiaokeli.jpg") no-repeat;border: 1px solid;}
.qklwrap form{width: 750px;height: auto;margin-top: 50px}
.qklwrap .text{outline: none;background: url("../image/qhborderqkl.png") no-repeat;width:420px;height:176px;padding:97px 0 0 210px;font-size: 32px;border: none;}
.scbtn1,.scbtn2{width:231px;height: 63px;background: url("../image/smallsubbtn.png") no-repeat;margin:550px 0 0 102px;border: none;}
.qklnextwrap{position:absolute;z-index:2;top:0;left:0;border:1px solid;width: 750px;height: 1206px;background: url("../image/scqiaokelibg.png") no-repeat;}
.qklnextwrap .text{outline: none;background: url("../image/qhborderqkl.png") no-repeat;width:420px;height:176px;padding:97px 0 0 210px;font-size: 32px;border: none;}
.Leftscqkl{position:absolute;width:393px;height:424px;background:#ccc;top:400px;z-index: 0;left:23px }
.Rightscqkl{position:absolute;width:380px;height:435px;background:#ccc;top:311px;left:363px;z-index: 0;}
.qklwrap .shuoming{display: block;width: 320px;height: 30px;text-align: center;position: absolute;top:530px;left:30%;font-size: 32px;}
/*证明切换*/
.qhzmwsrap{width: 750px;height: 1206px;background: url("../image/qhzhengming.jpg") no-repeat;border: 1px solid;}
.qhzmwsrap form{width: 750px;height: auto;margin-top: 700px;}
.qhzmwsrap .shuoming{display: block;width: 320px;height: 30px;text-align: center;position: absolute;top:530px;left:30%;font-size: 32px;}
.qhzmwsrap .scbtn1{border:none;width: 231px;height: 63px;position: absolute;top:304px;left:23px;background: url("../image/smallsubbtn.png") no-repeat;}
.qhzmwsrap .scbtn2{border:none;width: 231px;height: 63px;position: absolute;top:304px;left: 295px;background: url("../image/smallsubbtn.png") no-repeat;}
.qhzmwsrap .text{margin-left:110px;outline: none;background: url("../image/qhzmkuang.png") no-repeat;width:542px;height:144px;padding:24px 0 0 20px;font-size: 32px;border: none;}
.zmnextwsrap{position:absolute;top:0;left:0;width: 750px;height: 1206px;background: url("../image/sczmbg.png") no-repeat;border: 1px solid;}
.zmnextwsrap .text{outline: none;background: url("../image/qhzmkuang.png") no-repeat;width:535px;height:125px;padding:24px 0 0 10px;font-size: 32px;border: none;}
.leftkuang{position:absolute;top:322px;left:101px;width: 278px;height:366px;background:palegoldenrod;border-radius: 15px;}
.rightkuang{position:absolute;top:322px;left:377px;width: 278px;height:366px;background:palegoldenrod;border-radius: 15px;}
.fm{width: 900px;height:500px;background: url("../image/fengmian.jpg") no-repeat;border: 1px solid;background-size: 100%}
.zmnextwsrap form{margin:712px auto 0 auto;width:540px;}

