*{padding:0;margin:0;}
a{text-decoration: none;color: black;}
a:hover{text-decoration: none;color: black;}
.indexwrap{width: 750px;background: url("../image/indexbg.jpg") no-repeat;background-size: 100%;height:2856px;border: 1px solid;}
.indexwrap .start{display:block;background:url("../image/startbtn.gif") no-repeat;width: 407px;height: 112px;margin:2383px auto 0 auto; }
/*切换*/
.qhwrap .shuoming{display: block;width: 460px;height: 30px;text-align: center;position: absolute;top:535px;left:20%;font-size: 32px;color:#6D6A6A;}
.qhwrap{width: 750px;height: 1206px;background:url("../image/qhaiqing.jpg") no-repeat;border: 1px solid;}
.qhwrap form{width: 750px;height:auto;margin-top: 60px}
.qhwrap form input[type=button]{outline:none;border:none;display:block;width: 603px;height: 103px;background: url("../image/bigsubbtn.png") no-repeat;margin:890px auto 0 auto;}
.qhwrap .text{background: url("../image/qhborderaiqing.png") no-repeat;width:393px;height:196px;padding: 65px 0 0 225px;font-size: 32px;border: none;outline: none;position:absolute;z-index:3;top:30px;left:50px;}
.left{position: absolute;top:517px;left: 0px;width: 66px;height: 66px;background: url("../image/btnleft.png") no-repeat;z-index:3;}
.right{position: absolute;top:517px;left: 680px;width: 66px;height: 66px;background: url("../image/rightbtn.png") no-repeat;z-index:3;}
/*搞怪*/
.gaoxiaowrap{width: 750px;height: 1206px;background: url("../image/qhgaoxiao.jpg") no-repeat;border: 1px solid;}
.gaoxiaowrap form{width: 750px;height: auto;margin-top: 50px}
.gaoxiaowrap form input[type=button]{border:none;display:block;width: 603px;height: 103px;background: url("../image/bigsubbtn.png") no-repeat;margin: 300px auto 0 auto;}
.gaoxiaowrap .shuoming{display: block;width:460px;height: 30px;text-align: center;position: absolute;top:600px;left:20%;font-size: 32px;color: white;}
.gaoxiaowrap .text{outline: none;background: url("../image/qhbordergaoxiao.png") no-repeat;width:443px;height:167px;padding: 65px 0 0 225px;font-size: 32px;border: none;}
.gaoguaishow{position:absolute;width: 750px;height:606px;z-index:0;top:372px;overflow:hidden}
.gaoxiaoshowwrap form{width: 750px;height: auto;margin-top: 50px;}
.gaoxiaowrap form input[type=button]{border:none;display:block;width: 603px;height: 103px;background: url("../image/bigsubbtn.png") no-repeat;margin:695px auto 0 auto;}
.gaoxiaoshowwrap{width: 750px;height: 1206px;background: url("../image/gaoguainextbg.png") no-repeat;position: absolute;left: 0;top:0;z-index: 2;}
.gaoxiaoshowwrap .text{outline: none;background: url("../image/qhbordergaoxiao.png") no-repeat;width:443px;height:155px;padding: 65px 0 0 225px;font-size: 32px;border: none;}
.gongxibtn{z-index:2;position: absolute;width: 275px;height: 292px;left:32%;top:888px;background: url("../image/gongxibtn.png") no-repeat;border: none}
.gaoxiaowrap .phto{width: 500px;height: 480px;position: absolute;z-index: 1;left: 19%;top:210px;}

.zhezhao{width:750px;height:1206px;position:absolute;z-index:1;top:0;left:0;filter:alpha(opacity=50);opacity: 0.5;-moz-opacity:0.5;background:black;}
.fximg{position:absolute;top:0;left:367px;z-index:2}
/**谢谢参与*/
.thankWrap{width:750px;height:1206px}
.thankWrap .fenxiang{width:248px;height: 73px;background: url("../image/fengxiang.png") no-repeat;position:absolute;left:110px;top:1039px;}
.thankWrap .chakan{width:248px;height: 73px;background: url("../image/chakan.png") no-repeat;position:absolute;left:400px;top:1039px;}
.close{position:absolute;top:78px;left:67px;z-index:2;}
/*礼品*/
.giftwrap{width: 750px;height: 1206px;background:url("../image/giftbg.jpg") no-repeat;border: 1px solid;}
.giftwrap .likes{width:96%;height:278px;margin: 410px auto 0 auto;}
.giftwrap .likes .gift{width: 30%;height:278px;display: inline-block;margin: 0 5px 0 10px;background: greenyellow;}
.giftwrap .likes .gift .txt{width:95%;margin: 20px auto 0 auto;}
.giftwrap .likes .gift .txt input[type=radio]{display: none;}
.giftwrap .likes .gift .txt input[type=radio]+label{color:white;font-size:25px;display: block;width:100%;height:54px;background:url(../image/like2.png) no-repeat;border: 1px solid white;border-radius: 30px;text-align: center;line-height: 30px;}
.giftwrap .likes .gift .txt input[type=radio]:checked+label{color:white;font-size:25px;display: block;width:100%;height: 54px;background:url(../image/like1.png) no-repeat;border: 1px solid white;border-radius: 30px;text-align: center;line-height: 30px;}
.giftwrap .userinfo{width: 90%;height:auto;margin: 90px auto 0 auto;}
.giftwrap .userinfo input[type=text]{border: 5px solid red;height: 70px;font-size: 25px;color:grey;width:85%;display:block;margin:10px auto 0 auto;border-radius: 30px;text-indent: 15px;}
.giftwrap .userinfo input[type=submit]{display: block;width:257px;height: 71px;background:url("../image/submit.png") no-repeat; border:none;margin: 50px auto 0 auto;outline:none;}

/*爱情上传后的页面*/
.aiqingnext{position:absolute;top:0;left:0;z-index:2;border:1px solid;width: 750px;height: 1206px;background: url("../image/aqnextbg.png") no-repeat;}
.aqshow{top:310px;position:absolute;width: 750px;height:545px;z-index:1;text-align: center; overflow:hidden}
.aqform{width: 750px;height:auto;position:absolute;top:0;z-index:3;}
.aqform .text{background: url("../image/qhborderaiqing.png") no-repeat;width:400px;height:196px;padding: 65px 0 0 225px;font-size: 32px;border: none;outline: none;position:absolute;z-index:4;top:30px;left:50px;}
.aiqingnext .text{outline: none;background: url("../image/aqkuang.png") no-repeat;width:443px;height:200px;padding: 65px 0 0 225px;font-size: 32px;border: none;}
.gongxibtn{z-index:2;position: absolute;width: 275px;height: 292px;left:32%;top:888px;background: url("../image/gongxibtn.png") no-repeat;border: none;color:black;}
.aiqingnext .phto{z-index:1;position:absolute;top:200px;left:0;text-align:center;width:100%;height:551px;background:url("../image/aiqingshowbg.png") no-repeat;}
.aishow{position:absolute;z-index:4;top:296px;left:5px;}
/*婚礼切换*/
.hlwrap{width: 750px;height: 1206px;background: url("../image/qhhunli.png") no-repeat;border: 1px solid;position:absolute;top:0;left:0;z-index:2}
.hlwrap form{position:absolute;width: 750px;height: auto;margin-top: 50px;z-index:3}
.hlwrap .shuoming{display: block;width: 460px;height: 30px;text-align: center;position: absolute;top:480px;left:20%;font-size: 32px;color:#6D6A6A;}
.hlwrap .text{outline: none;background: url("../image/qhborderhunli.png") no-repeat;width:443px;height:167px;padding: 65px 0 0 225px;font-size: 32px;border: none;}
.hlnextwrap{position:absolute;top:0;left:0;z-index:2;border:1px solid;width: 750px;height: 1206px;background: url("../image/subhunlibg.png") no-repeat;}
.hlnextwrap .text{overflow:hidden;outline: none;background: url("../image/qhborderhunli.png") no-repeat;width:443px;height:167px;padding: 65px 0 0 225px;font-size: 32px;border: none;}
.hlnextshowleft{position: absolute;top:281px;left: 41px;z-index: 1;width: 337px;height: 414px;}
.hlnextshowright{position: absolute;top:281px;left:377px;z-index: 1;width: 337px;height: 414px;}
/*巧克力切换*/
.qklwrap{width: 750px;height: 1206px;background: url("../image/qhqiaokeli.png") no-repeat;border: 1px solid;position:absolute;top:0;left:0;z-index:2}
.qklwrap form{width: 750px;height: auto;margin-top: 50px}
.qklwrap .text{outline: none;background: url("../image/qhborderqkl.png") no-repeat;width:420px;height:176px;padding:97px 0 0 210px;font-size: 32px;border: none;}
.scbtn1{width:231px;height: 63px;background: url("../image/smallsubbtn.png") no-repeat;border: none;position:absolute;top:885px;left:120px;z-index:3;}
.scbtn2{width:231px;height: 63px;background: url("../image/smallsubbtn.png") no-repeat;border: none;position:absolute;top:885px;left:400px;z-index:3;}
.qklnextwrap{position:absolute;z-index:2;top:0;left:0;border:1px solid;width: 750px;height: 1206px;background: url("../image/scqiaokelibg.png") no-repeat;}
.qklnextwrap .text{outline: none;background: url("../image/qhborderqkl.png") no-repeat;width:420px;height:176px;padding:97px 0 0 210px;font-size: 32px;border: none;}
.Leftscqkl{position:absolute;width:393px;height:424px;top:400px;z-index: 0;left:23px }
.Rightscqkl{position:absolute;width:380px;height:435px;top:311px;left:363px;z-index: 0;}
.qklwrap .shuoming{display: block;width: 460px;height: 30px;text-align: center;position: absolute;top:530px;left:20%;font-size: 32px;color:#6D6A6A}
/*证明切换*/
.qhzmwsrap{width: 750px;height: 1206px;background: url("../image/qhzhengming.png") no-repeat;border: 1px solid;position:absolute;top:0;left:0;z-index:2}
.qhzmwsrap form{width: 750px;height: auto;margin-top: 700px;}
.qhzmwsrap .shuoming{display: block;width:460px;height: 30px;text-align: center;position: absolute;top:530px;left:20%;font-size: 32px;color:#6D6A6A}
.qhzmwsrap .scbtn1{border:none;width: 231px;height: 63px;position: absolute;top:900px;left:118px;background: url("../image/smallsubbtn.png") no-repeat;z-index:3;outline:none;}
.qhzmwsrap .scbtn2{border:none;width: 231px;height: 63px;position: absolute;top:900px;left: 385px;background: url("../image/smallsubbtn.png") no-repeat;z-index:3;outline:none;}
.qhzmwsrap .text{margin-left:110px;outline: none;background: url("../image/qhzmkuang.png") no-repeat;width:542px;height:144px;padding:24px 0 0 20px;font-size: 32px;border: none;}
.zmnextwsrap{position:absolute;top:0;left:0;width: 750px;height: 1206px;background: url("../image/sczmbg.png") no-repeat;border: 1px solid;}
.zmnextwsrap .text{outline: none;background: url("../image/qhzmkuang.png") no-repeat;width:535px;height:120px;padding:24px 0 0 10px;font-size: 32px;border: none;margin-left:105px;}
.leftkuang{position:absolute;top:322px;left:101px;width: 278px;height:366px;border-radius: 15px;}
.rightkuang{position:absolute;top:322px;left:377px;width: 278px;height:366px;border-radius: 15px;}
.fm{width: 900px;height:500px;background: url("../image/fengmian.jpg") no-repeat;border: 1px solid;background-size: 100%}
.zmnextwsrap form{margin:712px auto 0 auto;width:750px;}
.resetphoto{position:absolute;width:230px;height:63px;top:938px;left:10px;z-index:3;}
.zmnextwsrap .zmimg{width:268px;height:269px;position:absolute;top:726px;left:473px;}
.qhzmwsrap .zmimg{width:268px;height:269px;position:absolute;top:726px;left:473px;z-index:0}
