@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>谢谢参与</title>
</head>
<body>
    <div class="thank">
        <img src="~/Content/Wanjing1/img/thank.jpg" />
    </div>
</body>
</html>
