@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>丸井百货</title>
    <link href="~/Content/Wanjing1/css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="thank">
        <img src="~/Content/Wanjing1/img/thank.jpg" />
    </div>
</body>
</html>
