*{
    padding:0;
    margin:0;
}
a{
    color:black;
    text-decoration:none;
}
a:hover{
    color:black;
    text-decoration:none;
}
.indexwrap{
    width:750px;
    height:1206px;
    border:1px solid white;
    background:url(../img/indexbg.jpg) no-repeat;
}
.indexwrap .rulebtn{
    position:absolute;
    top:743px;
    left:155px;
}
.indexwrap .startbtn{
    position:absolute;
    top:846px;
    left:282px;
}
.rulewrap{
    width:750px;
    height:1206px;
    border:1px solid white;
    background:url(../img/rulebg.jpg) no-repeat;
}
.rulewrap .rulebtn{
     position:absolute;
    top:970px;
    left:222px;
}
.thankwrap{
    width:750px;
    height:1206px;
    border:1px solid white;
    background:url(../img/thankbg.jpg) no-repeat;
}
.playwrap{
    width:750px;
    height:1206px;
    border:1px solid white;
    background:url(../img/gamebg.jpg) no-repeat;
}
.playwrap #cards{
    width:700px;
    height:700px;
    border:1px solid blue;
    margin:120px auto 0 auto;
}
.card{
    width:217px;
    height:217px;
    border:1px solid white;
    display:inline-block;
    margin:10px 0 0 7px;
    border:none;
}

.playwrap .showinfo{
    width:633px;
    height:233px;
    border:none;
    position:absolute;
    top:845px;
    left:55px;
    background:url(../img/form-gray.png) no-repeat;
}
.playwrap .jt{
    position:absolute;top:431px;left:320px;z-index:5;
}
.showinfo form .user{background:url(../img/smallinputbg.png) no-repeat white;width:261px;height:50px;border:none;outline:none;margin:10px 0 5px 165px;border-radius:25px;font-size:28px;text-indent:15px;}
.showinfo form .reward{background:url(../img/smallinputbg.png) no-repeat white;width:261px;height:50px;border:none;outline:none;margin:18px 0 0 224px;border-radius:25px;font-size:28px;text-indent:15px; }
.showinfo form .tel{background:url(../img/longinputbg.png) no-repeat white;width:414px;height:50px;border:none;outline:none;margin:5px 0 0 191px;border-radius:25px;font-size:28px;text-indent:15px;}
.showinfo form{width:633px;height:auto;margin:37px auto 0 auto;}
.showinfo form input[type=submit]{background:url(../img/graysubmitbg.png);width:340px;height:96px;margin:10px auto 0 auto;display:block;border:none;outline:none;}
