*{
    padding:0;
    margin:0;
}
a{
    color:black;
    text-decoration:none;
}
a:hover{
    color:black;
    text-decoration:none;
}
.indexwrap{
    width:750px;
    height:1206px;
    border:1px solid white;
    background:url(../img/indexbg.jpg) no-repeat;
}
.indexwrap .rulebtn{
    position:absolute;
    top:743px;
    left:155px;
}
.indexwrap .startbtn{
    position:absolute;
    top:846px;
    left:282px;
}
.rulewrap{
    width:750px;
    height:1206px;
    border:1px solid white;
    background:url(../img/rulebg.jpg) no-repeat;
}
.rulewrap .rulebtn{
     position:absolute;
    top:970px;
    left:222px;
}
.thankwrap{
    width:750px;
    height:1206px;
    border:1px solid white;
    background:url(../img/thankbg.jpg) no-repeat;
}
.thank2wrap{
    width:750px;
    height:1206px;
    border:1px solid white;
    background:url(../img/thank2.jpg) no-repeat;
}
.thank3wrap{
     width:750px;
    height:1206px;
    border:1px solid white;
    background:url(../img/thank3.jpg) no-repeat;
}
.getaward{
     width:750px;
    height:1206px;
    border:1px solid white;
    background:url(../img/thank.jpg) no-repeat;
}
.playwrap{
    width:750px;
    height:1206px;
    border:1px solid white;
    background:url(../img/gamebg.jpg) no-repeat;
}
.playwrap #cards{
    width:700px;
    height:700px;
    margin:120px auto 0 auto;
}
.card{
    width:217px;
    height:217px;
    border:1px solid white;
    display:inline-block;
    margin:10px 0 0 7px;
    border:none;
}

.playwrap .showinfo{
    width:633px;
    height:233px;
    border:none;
    position:absolute;
    top:845px;
    left:55px;
    background:url(../img/form-gray.png) no-repeat;
}
.thank2wrap .lingqu {
    width:516px;
    height:98px;
    position:absolute;
    top:650px;
    left:132px;
}

.playwrap .jt{
    position:absolute;top:431px;left:320px;z-index:5;
}
 .back{width:217px;height:217px;}
 .front{width:217px;height:217px;}
.showinfo form .user{background:url(../img/smallinputbg.png) no-repeat white;width:261px;height:50px;border:none;outline:none;margin:10px 0 5px 165px;border-radius:25px;font-size:28px;text-indent:15px;}
.showinfo form .reward{background:url(../img/smallinputbg.png) no-repeat white;width:261px;height:50px;border:none;outline:none;margin:18px 0 0 224px;border-radius:25px;font-size:28px;text-indent:15px; }
.showinfo form .tel{background:url(../img/longinputbg.png) no-repeat white;width:414px;height:50px;border:none;outline:none;margin:5px 0 0 191px;border-radius:25px;font-size:28px;text-indent:15px;}
.showinfo form{width:633px;height:auto;margin:37px auto 0 auto;}
.showinfo form .submit{background:url(../img/graysubmitbg.png) no-repeat;width:340px;height:96px;margin:10px auto 0 auto;display:block;border:none;outline:none;}

.zhezhao {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    position: absolute;
    z-index:1;
    top: 0;
    left: 0;
    background:black
}
.alertParent {
    width:448px;
    height:155px;
    position: absolute;
    border:1px solid #eee;
    background: white;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}
.alertParent .surebtn {
    width:80px;
    height:30px;
     margin:55px 0 0 326px;
}
.alertParent .text{
    font-size:1.5em;
    margin:20px 0 0 20px;
}
