@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>口乐清20元抵扣券</title>
    <meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <link href="~/Content/Xinghe2/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="thank2wrap">
        <img src="~/Content/Xinghe2/img/lingqu.png" class="lingqu"/>
    </div>
</body>
</html>
