@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>集邮票免费送流量</title>
</head>
<body>
    <div class="indexwrap">
        
    </div>
</body>
</html>
