@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>关注雅马哈</title>
</head>
<body>
    <div class="guanzhuwrap">
        <img src="~/Content/yamaha/image/guanzhu.jpg" />
    </div>
</body>
</html>
