@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>游戏规则</title>

    <meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">
    <link href="~/Content/yamaha/css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div class="rulewrap">
        <a href="/Yamaha1/timu"><img src="~/Content/yamaha/image/gamerulebtn.png"></a>
    </div>
</body>
</html>
