@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>看视频赢大奖</title>
    <meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">
    <link href="~/Content/yamaha/css/style.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="~/Content/yamaha/js/main.js"></script>
    <script>
        $(function(){
            var q1img = "<img src='/Content/yamaha/image/Q1.png' class='q1'>"
            var q2img = "<img src='/Content/yamaha/image/Q2.png' class='q1'>"
            var q3img = "<img src='/Content/yamaha/image/Q3.png' class='q1'>"
            var cookiedata = checkCookie();

            if (cookiedata.indexOf(",") == -1) {
                $("body").append(q3img);
            } else {
                var arr3 = cookiedata.split(",");
                var arr3lenth = arr3.length;
                if (arr3lenth == 3) {
                    $("body").append(q1img);
                } else if (arr3lenth == 2) {
                    $("body").append(q2img);
                } else {

                }

            }

            $("form .nextbtn").on("click",function(){
                var checkval=$("form input[type=radio]:checked").val();
                if(checkval==null||checkval==""){
                    alert("请选择您的答案");
                    return;
                }else{

                    //alert(checkval);
                    setCookie("cookiet4",checkval,365);
                    var cookiedata=checkCookie();
                    if(cookiedata.indexOf(",")!=-1){
                        var arr3=cookiedata.split(",");

                        if(arr3.length>0){
                            console.log(arr3);
                            var arrti1=arr3.shift();
                            // alert(arr3);
                            setCookie("arr3key",arr3,365);
                            location.href = "/Yamaha1/" + arr3[0];
                        }
                    }else{
                        alert("您已答完所有题目");
                        location.href = "/Yamaha1/subinfo";
                    }

                }
            })
        })
    </script>
</head>
<body>
    <div class="t4wrap">
        <video src="http://video1-hebaihe-com-cn.oss-cn-shanghai.aliyuncs.com/t1video.mp4" controls="controls" class="video" width="100%" height="100%" controls poster="~/Content/yamaha/image/videobg.jpg">
            Your browser does not support the video tag.
        </video>
        <p class="title">马克西姆在视频中一共提了多少次雅马哈?</p>
        <form>
            <input type="radio" id="t4a" value="A" name="t4"><label for="t4a" class="t4a"></label>
            <input type="radio" id="t4b" value="B" name="t4"><label for="t4b" class="t4b"></label>
            <input type="radio" id="t4c" value="C" name="t4"><label for="t4c" class="t4c"></label>
            <input type="button" class="nextbtn">
        </form>
    </div>
</body>
</html>
