@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>看视频赢大奖</title>
    <meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">
    <link href="~/Content/yamaha/css/style.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="~/Content/yamaha/js/main.js"></script>
    <script>
        $(function () {
            var q1img = "<img src='/Content/yamaha/image/Q1.png' class='q1'>"
            var q2img = "<img src='/Content/yamaha/image/Q2.png' class='q1'>"
            var q3img = "<img src='/Content/yamaha/image/Q3.png' class='q1'>"
            var cookiedata = checkCookie();
          
            if (cookiedata.indexOf(",") == -1) {
                $("body").append(q3img);
            } else {
                var arr3 = cookiedata.split(",");
                var arr3lenth = arr3.length;
                if (arr3lenth == 3) {
                    $("body").append(q1img);
                } else if (arr3lenth == 2) {
                    $("body").append(q2img);
                } else {

                }

            }

            $("form .nextbtn").on("click", function () {
                var checkval = $("form input[type=radio]:checked").val();

                if (checkval == null || checkval == "") {
                    alertdialog1(str.chooseanser);
                    return;

                } else {
                    if (checkval == "A") {
                       // setCookie("cookiet1", checkval, 365);
                        var cookiedata = checkCookie();
                        if (cookiedata.indexOf(",") != -1) {
                            var arr3 = cookiedata.split(",");

                            if (arr3.length > 0) {
                                console.log(arr3);
                                var arrti1 = arr3.shift();
                                // alert(arr3);
                                setCookie("cookiename", arr3, 365);
                                location.href = "/Yamaha1/" + arr3[0];

                            }
                        } else {
                            if (checkval == "A") {
                                alertdialog2(str.complete);
                            } else {
                                alertdialog1(str.erroranser);
                            }

                        }
                    } else {
                        alertdialog1(str.erroranser);
                    }


                }
            })
            

        })
    </script>
</head>
<body>
    <div class="t6wrap">
        <video src="http://video1-hebaihe-com-cn.oss-cn-shanghai.aliyuncs.com/t1video.mp4" controls="controls" class="video" width="100%" height="100%" controls poster="~/Content/yamaha/image/videobg.jpg">
            Your browser does not support the video tag.
        </video>
        <p class="title">雅马哈的电钢琴优势是什么?</p>
        <form>
            <input type="radio" id="t6a" value="A" name="t6"><label for="t6a" class="t6a"></label>
            <input type="radio" id="t6b" value="B" name="t6"><label for="t6b" class="t6b"></label>
            <input type="radio" id="t6c" value="C" name="t6"><label for="t6c" class="t6c"></label>
            <input type="button" class="nextbtn">
        </form>
        <img src="~/Content/yamaha/image/rulebtn.png" class="rule" />

        <img src="~/Content/yamaha/image/closerule.png" class="closebtn" />
    </div>
</body>
</html>
