@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>谢谢参与</title>
    <meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">
    <link href="~/Content/yamaha/css/style.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="thankwrap">
        <img src="~/Content/yamaha/image/thank.jpg" alt="长按识别二维码" class="erweima" />
    </div>
</body>
</html>
