@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>问题示例</title>

    <meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">
    <link href="~/Content/yamaha/css/style.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="~/Content/yamaha/js/main.js"></script>
    <script>
        $(function(){
            getrandom5();
            var cookiedata=checkCookie();

           var arr3=cookiedata.split(",");
           $(".form1 input[type=button]").on("click",function(){
               if(arr3.length>0){
                   location.href = "/Yamaha1/" + arr3[0];
               }else{
                   alertalert("您已答完所有题目");
                   location.href = "/Yamaha1/subinfo";
               }

           })
        })
    </script>
</head>

<body>
    <div class="timuwrap">
        <form action="" method="post" class="form1">
            <div class="timu t1">
                <h3>谁是雅马哈电子键盘形象代言人?</h3>
                <label>○马克西姆</label></br>
                <label>○谭宗明</label></br>
                <label>○包奕凡</label>
            </div>
            <div class="timu t2">
                <h3>马克西姆拥有第一台雅马哈电钢琴的名称</h3>
                <label>○Clavinova</label></br>
                <label>○CK</label></br>
                <label>○Cartier</label>
            </div>
            <div class="timu t3">
                <h3>Always around,always with you是哪个电子钢琴品牌的slogan?</h3>
                <label>○YAMAHA</label></br>
                <label>○HAMAYA</label></br>
                <label>○MAHAYA</label>
            </div>
            <div class="timu t4">
                <h3>马克西姆在视频中一共提了多少次雅马哈?</h3>
                <label>○1次</label></br>
                <label>○10次</label></br>
                <label>○100次</label>
            </div>
            <div class="timu t5">
                <h3>最后一幕视频场景是在哪拍摄?</h3>
                <label>○上海</label></br>
                <label>○北京</label></br>
                <label>○广州</label>
            </div>
            <div class="timu t6">
                <h3>雅马哈的电钢琴优势是什么?</h3>
                <label>○比传统钢琴更为轻便</label></br>
                <label>○比传统钢琴更为沉重</label></br>
                <label>○比传统钢琴更为庞大 </label>
            </div>
            <div class="timu t7">
                <h3>马克西姆觉得电钢琴的触键感觉和什么一模一样?</h3>
                <label>○机械钢琴</label></br>
                <label>○竖琴</label></br>
                <label>○小提琴 </label>
            </div>
            <div class="timu t8">
                <h3>马克西姆是哪个品牌的电子键盘形象代言人?</h3>
                <label>○YAMAHA</label></br>
                <label>○HAMAYA</label></br>
                <label>○MAHAYA </label>
            </div>
            <div class="timu t9">
                <h3>雅马哈电子键盘乐器的slogan是什么?</h3>
                <label>○Always around,always with you</label></br>
                <label>○Not only but also</label></br>
                <label>○Just do it!</label>
            </div>
            <div class="timu t10">
                <h3>Clavinova是谁拥有的第一台雅马哈电钢琴?</h3>
                <label>○马克西姆</label></br>
                <label>○马克东姆</label></br>
                <label>○马克中姆</label>
            </div>
            <input type="button" value="" class="rember" />
        </form>
    </div>
</body>
</html>

