<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>答题</title>

    <meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        $(function(){
            getrandom5();
            var cookiedata=checkCookie();

           var arr3=cookiedata.split(",");
           $(".form1 input[type=button]").on("click",function(){
               if(arr3.length>0){
                   location.href=arr3[0]+".html";
               }else{
                   alert("");
               }

           })
        })
    </script>
</head>

<body>
	<div class="timuwrap">
    	<form action="" method="post" class="form1">
        	<div class="timu t1" >
            	<h3>谁是雅马哈电子键盘形象代言人?</h3>
            	<input type="radio" value="马克西姆" name="t1" disabled="disabled"/><label>马克西姆</label></br>
                <input type="radio" value="谭宗明" name="t1" disabled="disabled"/><label>谭宗明</label></br>
                <input type="radio" value="包奕凡" name="t1" disabled="disabled"/><label>包奕凡</label>
            </div>
            <div class="timu t2">
                <h3>马克西姆拥有第一台雅马哈电钢琴的名称</h3>
                <input type="radio" value="Clavinova" name="t2" disabled="disabled"/><label>Clavinova</label></br>
                <input type="radio" value="CK" name="t2" disabled="disabled"/><label>CK</label></br>
                <input type="radio" value="Cartier" name="t2" disabled="disabled"/><label>Cartier</label>
            </div>
             <div class="timu t3">
                <h3>Always around,always with you是哪个电子钢琴品牌的slogan?</h3>
                <input type="radio" value="YAMAHA" name="t3" disabled="disabled"/><label>YAMAHA</label></br>
                <input type="radio" value="HAMAYA" name="t3" disabled="disabled"/><label>HAMAYA</label></br>
                <input type="radio" value="MAHAYA" name="t3" disabled="disabled"/><label>MAHAYA</label>
            </div>
             <div class="timu t4">
                <h3>马克西姆在视频中一共提了多少次雅马哈?</h3>
                <input type="radio" value="1次" name="t4" disabled="disabled"/><label>1次</label></br>
                <input type="radio" value="10次" name="t4" disabled="disabled"/><label>10次</label></br>
                <input type="radio" value="100次" name="t4" disabled="disabled"/><label>100次</label>
            </div>
             <div class="timu t5">
                <h3>最后一幕视频场景是在哪拍摄?</h3>
                <input type="radio" value="上海" name="t5" disabled="disabled"/><label>上海</label></br>
                <input type="radio" value="北京" name="t5" disabled="disabled"/><label>北京</label></br>
                <input type="radio" value="广州" name="t5" disabled="disabled"/><label>广州</label>
            </div>
            <div class="timu t6">
                <h3>雅马哈的电钢琴优势是什么?</h3>
                <input type="radio" value="比传统钢琴更为轻便" name="t6" disabled="disabled"/><label>比传统钢琴更为轻便</label></br>
                <input type="radio" value="比传统钢琴更为沉重" name="t6" disabled="disabled"/><label>比传统钢琴更为沉重</label></br>
                <input type="radio" value="比传统钢琴更为庞大" name="t6" disabled="disabled"/><label>比传统钢琴更为庞大 </label>
            </div>
            <div class="timu t7">
                <h3>马克西姆觉得电钢琴的触键感觉和什么一模一样?</h3>
                <input type="radio" value="机械钢琴" name="t7" disabled="disabled"/><label>机械钢琴</label></br>
                <input type="radio" value="竖琴" name="t7" disabled="disabled"/><label>竖琴</label></br>
                <input type="radio" value="小提琴" name="t7" disabled="disabled"/><label>小提琴 </label>
            </div>
            <div class="timu t8">
                <h3>马克西姆是哪个品牌的电子键盘形象代言人?</h3>
                <input type="radio" value="YAMAHA" name="t8" disabled="disabled"/><label>YAMAHA</label></br>
                <input type="radio" value="HAMAYA" name="t8" disabled="disabled"/><label>HAMAYA</label></br>
                <input type="radio" value="MAHAYA" name="t8" disabled="disabled"/><label>MAHAYA </label>
            </div>
            <div class="timu t9">
                <h3>雅马哈电子键盘乐器的slogan是什么?</h3>
                <input type="radio" value="Always around,always with you" name="t9" disabled="disabled"/><label>Always around,always with you</label></br>
                <input type="radio" value="Not only but also" name="t9" disabled="disabled"/><label>Not only but also</label></br>
                <input type="radio" value="Just do it!" name="t9" disabled="disabled"/><label>Just do it!</label>
            </div>
             <div class="timu t10">
                <h3>Clavinova是谁拥有的第一台雅马哈电钢琴?</h3>
                <input type="radio" value="马克西姆" name="t10" disabled="disabled"/><label>马克西姆</label></br>
                <input type="radio" value="谭宗明" name="t10" disabled="disabled"/><label>谭宗明</label></br>
                <input type="radio" value="包奕凡" name="t10" disabled="disabled"/><label>包奕凡</label>
            </div>
            <input type="button" value="" class="rember"/>
        </form>
    </div>
</body>
</html>
