@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>卡米达</title>
    <meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">
    <title>卡米达</title>
    <link rel="stylesheet" href="~/Content/Kamida/style/css.css">
    <script src="http://cdn.bootcss.com/hammer.js/2.0.8/hammer.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script>
        $(function(){
            var hammertime = new Hammer(document.getElementById("jiantoubtn"));
            hammertime.get('swipe').set({ direction: Hammer.DIRECTION_ALL });
            hammertime.on("swipeup", function (e) {
                location.href = "/Kamida2/kami5";
            }).on("swipedown",function(){
                location.href = "/Kamida2/kami3";
            })
        })
    </script>
</head>
<body>
    <div class="kamiwrap">
        <img src="~/Content/Kamida/img/p4.gif" alt="" id="btn">
        <img src="~/Content/Kamida/img/jiantou.gif" alt="" id="jiantoubtn">
    </div>
</body>
</html>
