@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>卡米达</title>
    <meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="~/Content/Kamida/style/css.css">
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script>
        function checkform() {
            var user = $("form .user").val();
            var tel = $("form .telephone").val();
            var address=$("form .address").val();
            if (user == null || user == "") {
                alert("用户名不得为空");
                return false;
            } else if (user.length > 10) {
                alert("用户名必须少于10位")
                return false;
            }
          
            var reg = /^1[3|4|5|7|8]\d{9}$/;
            if (!(reg.test(tel))) {
                alert("请输入正确手机号");
                return false;
            }
            if (address == null || address == "") {
                alert("地址不得为空");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <div class="taocanwrap">
        <form action="" method="post" onsubmit="return checkform()">
            <input type="text" name="user" value="" class="txt user" placeholder="姓名："/>
            <input type="number" name="telephone" value="" class="txt telephone" placeholder="联系电话"/>
            <input type="text" name="address" value="" class="txt address" placeholder="奖品寄送地址"/>
            <input type="submit" value="" />
        </form>
    </div>
</body>
</html>
