@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">
    <link href="/Content/Xinghe1/css/style.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script>
       


        function checkform() {
                var user = $(".user").val();
                var tel = $(".tel").val();
                if (user == null || user == "") {
                    alert("请输入您的姓名");
                    return false;
                } else if (user.length> 10) {
                    alert("长度必须小于10位");
                    return false;
                } 
                var reg=/^1[3|4|5|7|8]\d{9}$/;
                if (!(reg.test(tel))) {
                    alert("手机号码有误，请重填");
                    return false;
                }
                return true;
        
            }
    </script>

    


</head>
<body>
    <div class="wrap">
        <div class="indexbox">

            <form method="post" action="/xinghe1/Add" onsubmit="return checkform()">
                <div class="radio">
                    <input type="radio" value="A.三,两。" checked="checked" name="answer" id="radio-1" /><label for="radio-1"></label><br>
                    <input type="radio" value="B.五,三。" name="answer" id="radio-2" /><label for="radio-2"></label><br>
                    <input type="radio" value="C.六,两。" name="answer" id="radio-3" /><label for="radio-3"></label><br>
        
                </div>
                <div class="text">
                    <input type="text" placeholder="请 输 入 您 的 姓 名" name="name" class="user" value=""><br>
                    <input type="text" placeholder="请 输 入 您 的 手 机" name="mobile" class="tel" value="">
                    @Html.Hidden("openid")
                    <input type="submit"  style="width: 360px;height: 82px;margin:5% 0 0 18%;background:url(/Content/Xinghe1/images/subbtn.png) no-repeat" value="" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>
