*{
    padding:0;margin:0;
}
h3{
    font-size:35px;
}
a{
    text-decoration: none;
}
.indexwrap{
    height: 1206px;
    background: url("../img/indexbg.png") no-repeat;
}
.indexwrap a{
    display: block;
    position: absolute;
    top:966px;
    left:240px;
    width:467px;
    height:139px;
    background: url("../img/start.png") no-repeat;
}
.timuwrap{
    height: 1206px;
    background: url("../img/timubg.png") no-repeat;
    border: 1px solid white;
}
.timuwrap .title{
    width:100%;
    margin:150px auto 0 auto;
    font-size:40px;
    line-height: 60px;
    color:white;
    text-align:center;

}
.timuwrap form{
    width:100%;
    height: 600px;
    margin:60px auto 0 auto;
}
.timuwrap .choosewrap input[type=radio]{
   display:none;
}
.timuwrap .choosewrap input[type=radio]+label{
    font-size:35px;
    margin:30px auto 20px auto;
    display: block;
    width:564px;
    height:89px;
    line-height:89px;
    text-align: center;
    color:white;
    background: url("../img/choosebg.png") no-repeat;
}
.timuwrap .choosewrap input[type=radio]:checked+label{
    background: url("../img/checkded.png") no-repeat;
    color:white;
}
.timuwrap form .submit{
    display: block;
    width: 233px;
    height: 83px;
    float: right;
    margin:40px 30px 0 0;
    background: url("../img/next.png") no-repeat;
    border: none;
    outline:none;
}
.completewrap .back{
    display: block;
    width: 136px;
    height:66px;
    float: right;
    margin:20px 15px 0 0;
}
.zongwrap{
    height: 1206px;
    background: url("../img/indexbg.png") no-repeat;
    border: 1px solid white;
}
.zongwrap .btnwrap{
    width:564px;
    height: auto;
    margin:320px auto 0 auto;
}
.zongwrap .btnwrap a{
    display: block;
    margin:95px auto 0 auto;
    width:564px;
    height: 91px;
    background: url("../img/choosebg.png") no-repeat;
    text-align: center;
    line-height: 91px;
    font-size: 40px;
    color:white;

}
.completewrap{
    height:1206px;
    background:url(../img/complete.png) no-repeat;
}
.completewrap .showansernum{
    width:356px;
    height:296px;
    position:absolute;
    top:100px;
    left:24%;
}
.completewrap .result{
     width:397px;
    height:169px;
    position:absolute;
    top:500px;
    left:24%;
}
.lhjwrap{
    width:750px;
    height:1206px;
    border:1px solid white;
    background:url(../img/lhjbg.png) no-repeat;
}
.sucesswrap{
    height:1206px;
}