*{
    padding:0;margin:0;
}
h3{
    font-size:35px;
}
a{
    text-decoration: none;
}
.indexwrap{
    height: 1206px;
    background: url("../img/indexbg.png") no-repeat;
}
.indexwrap a{
    display: block;
    position: absolute;
    top:966px;
    left:150px;
    width:467px;
    height:139px;
    background: url("../img/start.png") no-repeat;
}
.timuwrap{
    height: 1206px;
    background: url("../img/timubg.png") no-repeat;
    border: 1px solid white;
}
.timuwrap .title{
    width:100%;
    margin:150px auto 0 auto;
    font-size:2.5em;
    line-height: 60px;

}
.timuwrap form{
    width:100%;
    height: 600px;
    margin:60px auto 0 auto;
}
.timuwrap .choosewrap input[type=radio]{
   display:none;
}
.timuwrap .choosewrap input[type=radio]+label{
    font-size:40px;
    margin: 30px auto 20px auto;
    display: block;
    width: 338px;
    height: 91px;
    line-height: 91px;
    text-align: center;
    background: url("../img/choosebg.png") no-repeat;
}
.timuwrap .choosewrap input[type=radio]:checked+label{
    background: url("../img/checkded.png") no-repeat;
}
.timuwrap form .submit{
    display: block;
    width: 233px;
    height: 83px;
    float: right;
    margin:40px 30px 0 0;
    background: url("../img/next.png") no-repeat;
    border: none;
}
.timuwrap .back{
    display: block;
    width: 191px;
    height: 80px;
    float: right;
}
.zongwrap{
    height: 1206px;
    background: url("../img/indexbg.png") no-repeat;
    border: 1px solid white;
}
.zongwrap .btnwrap{
    width: 338px;
    height: auto;
    margin:320px auto 0 auto;
}
.zongwrap .btnwrap a{
    display: block;
    margin:95px auto 0 auto;
    width:338px;
    height: 91px;
    background: url("../img/choosebg.png") no-repeat;
    text-align: center;
    line-height: 91px;
    font-size: 35px;
}