@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>上传巧克力</title>
    <meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <link rel="stylesheet" href="/Content/Mingzhi1/css/style.css">

</head>
<body>
    <div class="qklnextwrap">
        <form class="form" action="" method="post">
            <textarea rows="4" cols="33" placeholder="" disabled="disabled" class="text"></textarea>
        </form>

        <button class="gongxibtn"></button>
    </div>
    <div class="Leftscqkl"></div>
    <div class="Rightscqkl"></div>
</body>
</html>
