@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>明治巧克力拍照赢大奖</title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
