@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="~/Content/Yamaha3/style/main.css">
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script>
        $(function () {
            var val = $(".showval1").val();
            var shownum = $(".showval2").val();
            $(".showansernum img").attr("src", "/Content/Yamaha3/img/" + val + ".png");
            if (shownum == 0 || shownum == 1 || shownum == 2 || shownum == 3) {
                $(".result img").attr("src", "/Content/Yamaha3/img/zjzl.png");
            } else {
                $(".result img").attr("src", "/Content/Yamaha3/img/success.png");
            }
        })
    </script>
</head>
<body>
    <div class="completewrap">
        <a href="/Yamaha3/zong" class="back"> <img src="~/Content/Yamaha3/img/back.png" alt=""></a>
        <div class="showansernum"><img src="" /></div>
        <div class="result"><img src="" /></div>
        <input type="hidden" name="name" value="2" class="showval1" />
        <input type="hidden" name="name" value="4" class="showval2" />
    </div>
    
</body>
</html>
