
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>漫画</title>
    <meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="~/Content/Yamaha3/style/main.css">
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
</head>
<body>
    <div class="manhua2wrap"> 
        <span><a href="/Yamaha3/zong" class="fanhui">
                  <img src="~/Content/Yamaha3/img/Mfanhui.png" /> </a></span>
        <p class="person"><a href="/Yamaha3/person"><img src="~/Content/Yamaha3/img/person.png" /> </a> </p>
        <p class="music"><a href="/Yamaha3/music">
               <img src="~/Content/Yamaha3/img/music.png" /></a></p>
    </div>
</body>
</html>
