
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>奏响青春管乐梦</title>
    <meta name="viewport" content="width=750, user-scalable=yes, target-densitydpi=device-dpi" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="~/Content/Yamaha3/style/main.css">
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
</head>
<body>
    <div class="M_P"> 
        <span>
            <a href="/Yamaha3/manhua2" class="fanhui">
                <img src="~/Content/Yamaha3/img/Mfanhui.png" />
            </a>
        </span>
        <div>
            <img src="~/Content/Yamaha3/Mimg/1.jpg" class="img"/>
            <img src="~/Content/Yamaha3/Mimg/2.jpg" class="img"/>
            <img src="~/Content/Yamaha3/Mimg/3.jpg" class="img"/>
            <img src="~/Content/Yamaha3/Mimg/4.jpg" class="img"/>
            <img src="~/Content/Yamaha3/Mimg/5.jpg" class="img"/>
            <img src="~/Content/Yamaha3/Mimg/6.jpg" class="img"/>
            <img src="~/Content/Yamaha3/Mimg/7.jpg" class="img"/>
            <img src="~/Content/Yamaha3/Mimg/8.jpg" class="img"/>
            <img src="~/Content/Yamaha3/Mimg/9.jpg" class="img"/>
            <img src="~/Content/Yamaha3/Mimg/10.jpg"class="img"/>
        </div>
    </div>
</body>
</html>
