@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="~/Content/Yamaha3/style/main.css">
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script>
        $(function () {
            var url = window.location.href;
            var num = url.indexOf("=");
            if (num != -1) {
                var bgnum = parseInt(url.substr(num + 1));
                $(".sucesswrap img").attr("src", "/Content/Yamaha3/img/jieshao" + bgnum + ".png");
            }
           
           
        })
    </script>
</head>
<body>
    <div class="sucesswrap">
        <img src="" />
    </div>
</body>
</html>
