
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>游戏规则</title>
</head>
<body>
    <div> 
        <img src="~/Content/Yamaha3/img/rule.jpg" />
    </div>
</body>
</html>
