@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="~/Content/Yamaha3/style/main.css">
</head>
<body>
    <div class="timuwrap">
        <a href="index.html" class="back"> <img src="img/back.png" alt=""></a>
        <p class="title"><strong>1.神话故事中，处女座的由来是为了纪念谁？</strong></p>
        <form action="" method="post">
            <div class="choosewrap">
                <input type="radio" name="t1" value="A" id="xx1"><label for="xx1">泊瑟芬</label><br>
                <input type="radio" name="t1" value="B" id="xx2"><label for="xx2">狄蜜特br</label><br>
                <input type="radio" name="t1" value="C" id="xx3"><label for="xx3">宙斯</label><br>
                <input type="radio" name="t1" value="D" id="xx4"><label for="xx4">冥王</label><br>
            </div>
            <input type="submit" value="" class="submit">
        </form>
    </div>
</body>
</html>
