@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="~/Content/Yamaha3/style/main.css">
</head>
<body>
    <div class="zongwrap">
        <div class="btnwrap">
            <a href="~/Yamaha3/zhishiindex">知识王</a>
            <a href="https://mp.weixin.qq.com/s?biz=MzAxMTE5ODQ0NA==&mid=504060390&idx=1&sn=22cbc73b85385326b9f4ced788ea4d67&scene=1&srcid=0824Czx2ayDU8hRMb1MEWVYt&pass_ticket=5eoIju%2FwceG4t1aGCaJq%2F1G2eEeD8XvhF%2BYMBt3Xg4j%2BoBEKzr%2Bz00NnODa%2FvDeH#rd">Q版漫画</a>
            <a href="">配对游戏</a>
        </div>
    </div>
</body>
</html>
