@charset "utf-8";
/* CSS Document */
*{padding:0;margin:0;font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif}
a{text-decoration:none;color:#000;}
a:hover{text-decoration:none;color:#000;}
.indexwrap{width:750px;height:1206px;background:url(../image/indexbg.gif) no-repeat;border:1px solid;background-size:100%}
.indexwrap .rulebtn{display:block;position:absolute;top:1014px;left:-21px;}
.indexwrap .startbtn{display:block;position:absolute;top:1014px;left:350px;}
.rulewrap{width:750px;height:1206px;background:url(../image/gamerule.jpg) no-repeat;border:1px solid;background-size:100%}
.rulewrap .closerule{display:block;position:absolute;top:60px;left:631px;}
.timuwrap{width:750px;height:1206px;background:url(../image/timubg.jpg) no-repeat;border:1px solid;background-size:100%}
.timuwrap a{display:block;position:absolute;top:1014px;left:145px;}
.timuwrap .timu{width:98%;height:auto;padding:5px 0 10px 30px;margin:10px 0 0 0;}
.timuwrap .timu h3{font-size:1.7em;width:575px;}
.timuwrap form{width:81%;height:auto;margin:80px 0 0 70px;border:none}
.timuwrap form .timu label{font-size:26px;}
.timuwrap form input[type=button]{top:1030px;left:155px;position:absolute;width:403px;height: 161px;background: url("../image/subbtn.png") no-repeat;display: block;border:none;outline:none;}
.thankwrap{width:750px;height:1206px;border:1px solid;}
.thankwrap .gameagan{position:absolute;top:728px;left:210px;border:none;outline:none;}
.fenxiang{position:absolute;top:0;left:360px;z-index:3;}
.fenxiangtishi{width:451px;height:151px;position:absolute;top:455px;left:149px;z-index:3;font-size:32px;text-align:center;line-height:151px;background:white;border-radius:10px;}
.t1wrap,.t2wrap,.t3wrap,.t4wrap,.t5wrap,.t6wrap,.t7wrap,.t8wrap,.t9wrap,.t10wrap{width:750px;height:1206px;background:url(../image/alltimubg.jpg) no-repeat;border:1px solid;background-size:100%}
form{width:81%;height: auto;margin:80px 0 0 70px;border:none}
form input[type=radio]{position:absolute;display: none;}
form input[type=radio]+label{display:block;position:absolute;width:auto;height:auto;font-size:20px;}
form input[type=radio]:checked+label{display:block;background-size:100% 100%;z-index: 2;width: 260px;height:260px;margin-left: -39px;position:absolute;}
form .nextbtn{display:block;position: absolute;width: 403px;height: 161px;background: url("../image/nextbtn.png") no-repeat;top:1015px;left:355px;border: none;outline: none; }
.t4wrap form .t4a{display: block;width: 176px;height: 154px;background: url("../image/t4a.png") no-repeat;top:670px;left: 81px;}
.t4wrap form .t4b{display: block;width: 176px;height: 154px;background: url("../image/t4b.png") no-repeat;top:670px;left: 293px;}
.t4wrap form .t4c{display: block;width: 176px;height: 154px;background: url("../image/t4c.png") no-repeat;top:670px;left: 500px;}
.video{width:644px;height:447px;position: absolute;top:135px;left: 51px;}
.title{font-size: 32px;margin:600px 0 0 70px;width:85%;}
.q1{position:absolute;top:0;left:300px;}
.rule{position:absolute;top:1014px;left:-29px;}
.ruleshow {width:750px;height:800px;position:absolute;top:0;left:0;background:white;border:1px solid #eee;z-index:2}
.closebtn{position:absolute;top:63px;left:630px;z-index:3;display:none;}
.guaguakawrap{width:750px;height:1206px;background:url(../image/guaguakabg.jpg) no-repeat;}
.guaguakawrap .guaguakong{position:absolute;top:225px;left:110px;}
.lingjiangbtn{position:absolute;top:482px;left:195px;z-index:3;}
.gethongbaosubinfowrap{width:750px;height:1206px;background:url(../image/gethongbaosubinfobg.jpg) no-repeat;border:1px solid white;}
.gethongbaosubinfowrap form input[type=text]{margin-bottom:20px;font-size:30px;background: url("../image/inputbg.png") no-repeat;width:602px;height:83px;text-indent: 50px;color:#ccc;border: none;outline: none;}
.gethongbaosubinfowrap form{width: 80%;height: 400px;margin:803px auto 0 auto;display: block;}
.gethongbaosubinfowrap form input[type=submit]{display:block;width: 403px;height:161px;background: url("../image/subinfobtn.png") no-repeat;border: none;outline: none;margin: 0 auto;}
.getawardsubinfowrap{width:750px;height:1206px;background:url(../image/getawardbg.jpg) no-repeat;border:1px solid white;}
.getawardsubinfowrap form{width:80%;height:auto;margin:695px auto 0 auto;}
.getawardsubinfowrap form input[type=text]{width:602px;height:83px;text-indent: 50px;color:#ccc;border: none;outline: none;background:url(../image/inputbg.png) no-repeat;font-size:30px;}
.getawardsubinfowrap form input[name=yzm]{width:381px;height:83px;text-indent: 50px;color:#ccc;border: none;outline: none;background:url(../image/smallkuangbg.png) no-repeat;font-size:30px;}
.getawardsubinfowrap form input[type=submit]{display:block;width: 403px;height:161px;background: url("../image/subinfobtn.png") no-repeat;border: none;outline: none;margin: 0 auto;}
.getawardsubinfowrap form .yzmwrap{width:100%;height:83px;}
.getawardsubinfowrap form .yzmwrap .yzmbtn{width:213px;height:83px;vertical-align:middle;border:none;outline:none;}



.zhezhao {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    position: absolute;
    z-index:1;
    top: 0;
    left: 0;
    background:black
}
.alertParent {
    width:448px;
    height:155px;
    position: absolute;
    border:1px solid #eee;
    background: white;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}
.alertParent .surebtn {
    width:80px;
    height:30px;
     margin:55px 0 0 326px;
}
.alertParent .text{
    font-size:1.5em;
    margin:20px 0 0 20px;
}

/*t1*/
.t1wrap form .t1a{display: block;width: 236px;height: 186px;background: url("../image/t1a.png") no-repeat;top:670px;left:62px;}
.t1wrap form .t1b{display: block;width: 236px;height: 186px;background: url("../image/t1b.png") no-repeat;top:670px;left: 280px;}
.t1wrap form .t1c{display: block;width: 236px;height: 186px;background: url("../image/t1c.png") no-repeat;top:670px;left: 500px;}
/*t2*/
.t2wrap form .t2a{display: block;width: 223px;height: 223px;background: url("../image/t2a.png") no-repeat;top:670px;left: 63px;}
.t2wrap form .t2b{display: block;width: 223px;height: 223px;background: url("../image/t2b.png") no-repeat;top:670px;left: 280px;}
.t2wrap form .t2c{display: block;width: 223px;height: 223px;background: url("../image/t2c.png") no-repeat;top:670px;left: 500px;}
/*t3*/
.t3wrap form .t3a{display: block;width: 188px;height: 223px;background: url("../image/t3a.png") no-repeat;top:670px;left: 81px;}
.t3wrap form .t3b{display: block;width: 188px;height: 223px;background: url("../image/t3b.png") no-repeat;top:670px;left: 293px;}
.t3wrap form .t3c{display: block;width: 188px;height: 223px;background: url("../image/t3c.png") no-repeat;top:670px;left: 500px;}
/*t5*/
.t5wrap form .t5a{display: block;width: 223px;height:223px;background: url("../image/t5a.png") no-repeat;top:670px;left: 51px;}
.t5wrap form .t5b{display: block;width: 223px;height: 223px;background: url("../image/t5b.png") no-repeat;top:670px;left: 285px;}
.t5wrap form .t5c{display: block;width: 223px;height: 223px;background: url("../image/t5c.png") no-repeat;top:670px;left: 500px;}
/*t6*/
.t6wrap form .t6a{display: block;width: 226px;height: 226px;background: url("../image/t6a.png") no-repeat;top:670px;left: 50px;}
.t6wrap form .t6b{display: block;width: 226px;height: 226px;background: url("../image/t6b.png") no-repeat;top:670px;left: 265px;}
.t6wrap form .t6c{display: block;width: 226px;height: 226px;background: url("../image/t6c.png") no-repeat;top:670px;left: 482px;}
/*t7*/
.t7wrap form .t7a{display: block;width: 188px;height:271px;background: url("../image/t7a.png") no-repeat;top:655px;left: 81px;}
.t7wrap form .t7b{display: block;width: 188px;height:271px;background: url("../image/t7b.png") no-repeat;top:655px;left: 293px;}
.t7wrap form .t7c{display: block;width: 188px;height:271px;background: url("../image/t7c.png") no-repeat;top:655px;left: 500px;}
/*t8*/
.t8wrap form .t8a{display: block;width: 188px;height:223px;background: url("../image/t8a.png") no-repeat;top:670px;left: 81px;}
.t8wrap form .t8b{display: block;width: 188px;height: 223px;background: url("../image/t8b.png") no-repeat;top:670px;left: 293px;}
.t8wrap form .t8c{display: block;width: 188px;height: 223px;background: url("../image/t8c.png") no-repeat;top:670px;left: 500px;}
/*t9*/
.t9wrap form .t9a{display: block;width: 236px;height: 186px;background: url("../image/t9a.png") no-repeat;top:670px;left: 61px;}
.t9wrap form .t9b{display: block;width: 236px;height: 186px;background: url("../image/t9b.png") no-repeat;top:670px;left: 293px;}
.t9wrap form .t9c{display: block;width: 236px;height: 186px;background: url("../image/t9c.png") no-repeat;top:670px;left: 500px;}
/*t10*/
.t10wrap form .t10a{display: block;width: 188px;height: 223px;background: url("../image/t10a.png") no-repeat;top:700px;left: 81px;}
.t10wrap form .t10b{display: block;width: 188px;height: 223px;background: url("../image/t10b.png") no-repeat;top:700px;left: 293px;}
.t10wrap form .t10c{display: block;width: 188px;height: 223px;background: url("../image/t10c.png") no-repeat;top:700px;left: 500px;}
