* {
    padding:0;
    margin:0;
    border:0;
   
}
a{
    text-decoration:none;
    color:black;
}
a:hover{
    text-decoration:none;
    color:black;
}
.indexwrap{
    width:750px;
    height:2471px;
   
   
}
.indexwrap input[type=submit]{
    width:303px;
    height:80px;
    background:url(../img/anniu.jpg) no-repeat;
    display:block;
    margin:0 auto;
}
h3{font-size:2.3em; margin-left:10px;}
.wenda{width:750px;height:auto;margin:10px 0  30px 0px;}
.wenda label{font-size:2em;color:black; margin-left:10px}

.indexwrap input[type=radio]{
    width:32px;height:32px; margin-bottom:10px; margin-left:30px;
}
.tijiao{
    border:1px solid white;
    width:750px;
    height:1206px;
    background:url(../img/submit.jpg) no-repeat;
}
.tijiao input[type=submit]{
    width:303px;
    height:80px;
    background:url(../img/anniu.jpg) no-repeat;display:block;margin:30px auto 0 auto;
    border:none;
    outline:none;
}
.tijiao form{
    width:750px;
    height:auto;
    margin-top:850px;
}
.tijiao form input[type=text]{
    width:565px;
    height:60px;
    border:1px solid #808080;
    margin-left:96px;
    border-radius:35px;
    font-size:30px;
    text-indent:15px;

}
.thank,.activeend{
    width:750px;
    height:1206px;
   
}
.liuliangend{
    width:750px;
    height:1206px;
 
}

