@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>失败</title>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="text-center" style="position:relative" >
        <img src="~/img/guitian/err.jpg"  class="img-responsive" />
        <a href="/GuiTian/index">  <img src="~/img/guitian/btn34.png" style="top:300px; position:absolute;left:27%; width:50%" /></a>
    </div>
</body>
</html>
