@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>成功</title>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
 
</head>
<body>
    <div>
    <img src="~/img/guitian/ok.jpg" class="img-responsive" />
    </div>
</body>
</html>
