@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>信息提交</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">
    <link href="~/Content/Qilingpijiu/css/style.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="~/Content/Qilingpijiu/js/main.js"></script>
</head>
<body>
    <div class="subinfowrap">
        <form action="/Qilingpijiu1/addGGK" method="post" onsubmit="return checkform()">
            @Html.AntiForgeryToken()
              <input type="text" class="user" name="name" placeholder="支付宝账号"/>
            <input type="text" class="tel" name="mobile" placeholder="手机号码"/>
            <input type="submit" class="submit" value=""/>
        </form>
    </div>
</body>
</html>
