@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">
    <link href="~/Content/Qilingpijiu/css/style.css" rel="stylesheet" type="text/css" />
    <title>谢谢参与</title>
</head>
<body>
    <div class="thankwrap">
    
    </div>
</body>
</html>
